<div class="center jumbotron">
  <h1>Welcome to the Scotland Game</h1>

  <h2>
    This is the home page for the scotland game online application.
  </h2>
  <div><canvas width="600" height="600" id="mazecanvas"></canvas></div>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<%= javascript_tag do %>
  $(document).ready(function(){
    GameEngine.initialize();
  });
<% end %>
