var UserChannel = (function() {

    var dispatcher, channelName, cookieName = 'user_channel_key';

    function init(globalDispatcher) {
        dispatcher = globalDispatcher;
        dispatcher.on_open = connect;
        channelName = $.cookie(cookieName)
    }

    function connect() {
       if(channelName) {
           getChannel(channelName);
       } else {
           getKey();
       }
    }

    function getKey() {
        dispatcher.bind('user.key', function (key) {
            $.cookie(cookieName, key, { expires: 30 });
            getChannel(key);
        });

        dispatcher.trigger('user.get_channel_key', {});
    }

    function getChannel(key) {
        var channel = dispatcher.subscribe_private(key);

        channel.on_success = function () {
            // listen for notifications or some other user specific event
        };

        channel.on_failure = function (reason) {
            $.removeCookie(cookieName);
            console.log("Authorization failed because " + reason.message);
        };
    }

    return { init: init };

})();
var UserMonitor = (function() {

    var dispatcher, channel, onlineUsers, $userCountContainer;

    function init(globalDispatcher) {
        dispatcher = globalDispatcher;
        channel = dispatcher.subscribe('online_users');
        channel.bind('seen', userOnline);
        channel.bind('left', userOffline);
        $userCountContainer = $('#online-user-count');
        $user = $('#online-users-list')
    }

    function userOnline(user) {
        var $onlineUser = $('.user-online[data-user-id="'+user.id+'"] span');
        if($onlineUser.length == 0){
          $('#online-users-list').append("<li class='user-online' data-user-id="+user.id+">"+user.email+" <span class='online'>●</span></li>");
        }else{
          $onlineUser.addClass('online');
          $onlineUser.removeClass('offline');
        }
        updateOnlineUserCount();
    }

    function userOffline(user) {
        var $offlineUser = $('.user-online[data-user-id="'+user.id+'"] span');
        $offlineUser.removeClass('online');
        $offlineUser.addClass('offline');
        updateOnlineUserCount();
    }

    function updateOnlineUserCount() {
        if($userCountContainer.length){
          $userCountContainer.html($('#online-users-list .online').length);
        }
    }

    return { init: init };

}());
$(document).on('ready', function() {
    var globalDispatcher = new WebSocketRails('localhost:3000/websocket');
    UserChannel.init(globalDispatcher);
    UserMonitor.init(globalDispatcher);
});
